<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/emoji-smile-upside-down.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Isabella Smith</title>
</head>
<body>
    <aside id='header'>
        <section class="profile mt-3">
            <img src="../static/img/me.jpg" alt="Foto da Isabella">
            <h1>Isabella Beneveni Smith</h1>
            <div class="social-links mt-3 text-center">
                <a target="_blank" href=https://br.linkedin.com/in/isabellabeneveni">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a target="_blank" href="https://github.com/bellabeneveni">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house-heart-fill"></i>Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-person-fill"></i></i>Sobre mim</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-bookmark-heart"></i></i>Portfolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-card-checklist"></i>Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-braces"></i>Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-envelope-fill"></i>Contato</a>
                </li>
              </ul>
        </nav>
    </aside>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>